[Desktop Entry]
Name=OxyDark
Comment=TrashcanOS Plasma Theme
X-KDE-PluginInfo-Name=OxyDark
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Author=susalert
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=Plasma/Theme
