[SddmGreeterTheme]
Name=Oxy
Name[ar]=Oxy
Name[az]=Oxy
Name[be]=Oxy
Name[bg]=Oxy
Name[ca]=Oxy
Name[ca@valencia]=Oxy
Name[cs]=Oxy
Name[da]=Oxy
Name[de]=Oxy
Name[el]=Oxy
Name[en_GB]=Oxy
Name[eo]=Oxy
Name[es]=Oxy
Name[eu]=Oxy
Name[fi]=Oxy
Name[fr]=Oxy
Name[gl]=Oxy
Name[he]=Oxy
Name[hu]=Oxy
Name[ia]=Oxy
Name[id]=Oxy
Name[is]=Oxy
Name[it]=Oxy
Name[ka]=Oxy
Name[ko]=Oxy
Name[lt]=Oxy
Name[lv]=Oxy
Name[nb]=Oxy
Name[nl]=Oxy
Name[nn]=Oxy
Name[pa]=Oxy
Name[pl]=Oxy
Name[pt_BR]=Oxy
Name[ro]=Oxy
Name[ru]=Oxy
Name[sa]=Oxy
Name[sk]=Oxy
Name[sl]=Oxy
Name[sv]=Oxy
Name[ta]=Oxy
Name[tr]=Oxy
Name[uk]=Oxy
Name[zh_CN]=Oxy
Name[zh_TW]=Oxy
Description=Oxy
Description[ar]=Oxy
Description[az]=Oxy
Description[be]=Oxy
Description[bg]=Oxy
Description[ca]=Oxy
Description[ca@valencia]=Oxy
Description[cs]=Oxy
Description[da]=Oxy
Description[de]=Oxy
Description[el]=Oxy
Description[en_GB]=Oxy
Description[eo]=Oxy
Description[es]=Oxy
Description[eu]=Oxy
Description[fi]=Oxy
Description[fr]=Oxy
Description[gl]=Oxy
Description[he]=Oxy
Description[hu]=Oxy
Description[ia]=Oxy
Description[id]=Oxy
Description[is]=Oxy
Description[it]=Oxy
Description[ka]=Oxy
Description[ko]=Oxy
Description[lt]=Oxy
Description[lv]=Oxy
Description[nb]=Oxy
Description[nl]=Oxy
Description[nn]=Oxy
Description[pa]=Oxy
Description[pl]=Oxy
Description[pt_BR]=Oxy
Description[ro]=Oxy
Description[ru]=Oxy
Description[sa]=Oxy
Description[sk]=Oxy
Description[sl]=Oxy
Description[sv]=Oxy
Description[ta]=Oxy
Description[tr]=Oxy
Description[uk]=Oxy
Description[zh_CN]=Oxy
Description[zh_TW]=Oxy
Author=susalert
Copyright=(c) 2025, susalert
License=
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=breeze
Theme-API=2.0
QtVersion=6
